<h1><% title %></h1>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
<form action="/account/register" method="post">
    <fieldset id="registrationBox">
        <legend id="registerLegend">Sign Up</legend>
        <label>First Name: <input type="text" name="account_firstname" id="accountFirstname" required value="<%= locals.account_firstname %>"></label>
        <label>Last Name: <input type="text" name="account_lastname" id="accountLastname" required value="<%= locals.account_firstname %>"></label>
        <label>Email Address: <input type="email" name="account_email" id="accountEmail" required value="<%= locals.account_firstname %>"></label>
        <label>Password: <input type="password" name="account_password" id="accountPassword" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"></label>
        <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span>
        <button id="registerButton" type="submit">Register</button>
    </fieldset>
</form>